<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tdc.barbershop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarberShop">
        <activity
            android:name=".ManageDetailServiceActivity"
            android:exported="false" /> <!-- <activity -->
        <activity
            android:name=".ServiceListActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ManageServiceScreenActivity"
            android:exported="true" />
        <activity
            android:name=".OrderServiceActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_googl_map" />

        <activity
            android:name=".UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.BarberShop.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>